@mixin borderRadius($property) {
  -webkit-border-radius: $property;
  -ms-border-radius: $property;
  border-radius: $property;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


