@import "base";
@import "mixin";

/*-----| HTML, Body |-----*/
html{font-size: 14px; color:$textColor; line-height: 1.5;}
.container{max-width: 1070px;}


/*-----| Header |-----*/
header{
    .mainHeader{ display: flex;  justify-content: space-between;
        align-items: center;  padding: 10px 20px; background:$bgColor3; 
        .logo{      
            a{
                display: block; padding: 10px 15px; font-size: 1.5rem;
                color:$logoColor;
            }
        }
    
        .tagline{
            color:$whiteText;
            font-size: 2rem;;
        }
    
        nav{  display: flex;  align-items: center;
            ul{display: flex; margin:0;
                li{margin:0 10px;
                  a{
                      display: block;
                      padding:5px 10px;
                      color:$navColor;
                      span{display: inline-block; vertical-align: middle;}
                      &:hover, &.active{
                        color:$whiteText;
                        } 
                  }               
                }
            }
            div{
                span{color:$logoColor; cursor: pointer;
                    &:hover{color:$whiteText;}
                }
            }
        }
    }    

    .headerTop{display: flex;  justify-content: space-between; color:$bgColor2;
        align-items: center;  padding: 10px 15px 0; background:$textColor;

        .topSelect{
            width:200px;
        }

        .topRadio{ width:30%;
            text-align: right;
            
            .form-check { display: inline; 
                label{margin:0 20px;}
            }
        }
    }
}

/*-----| Main |-----*/
.main{height: calc(100vh - 105px);}
.pageHeader{background:$bgColor2; padding: 15px 0;
    .container{
        display: flex; justify-content: space-between;
    }
}
.content{padding: 15px 0;}
.contentWrap{padding: 10px; background-color: $bgColor2; margin: 15px 0;
    @include clearfix;}

/*-----| Mobile |-----*/
.itemWrap{ 
    .mobileList{display: flex; margin:0 -15px;   flex-wrap: wrap;
        .itemBlock{padding: 0; width:calc(25% - 30px);
            margin:15px;
            .productName{background:$bgColor3; padding: 10px;
                position: relative;
                .name{color:$whiteText; font-size: 1.2rem;}
                button{position: absolute; top:-5px; right:-5px;} 
            }

            .productBody{padding:10px; border-left:1px solid $bgColor3;
                border-right:1px solid $bgColor3;
                p{margin:0;}
                
                .imgWrap{text-align: center; height: 180px; margin:10px 0;
                    img{max-width: 100%; max-height: 100%;}
                }
            }            
            
            .bottom{background: $headColor; padding: 10px; color:$whiteText;
                display: flex; justify-content: space-between; align-items: center;
                .price{font-size: 1.2rem;}                
            }
        }
    }
    
}

/*-----| Camera |------*/
.camList{margin-bottom: 30px;
    .productName{background:$headColor; color: $bgColor2; padding: 8px 10px;
        @include borderRadius(6px 6px 0 0);}
    .product_img{ border:1px solid $headColor; padding: 15px 0; 
        img{width:80%; margin:0 auto;}
    }
    .product_info{background:$headColor; color: $bgColor2; padding: 8px 10px;
        display: flex; justify-content: space-between; 
        @include borderRadius(0 0 6px 6px);
        span{font-weight: 700;}
    }    
}


/*-----| Camera |------*/
.camDetail{margin: 30px 0;
    .product_img{padding: 15px 0; 
        img{width:100%; margin:0 auto;}
    }
    .story{
        margin: 10px 0;
    }      
}

/*-----| Laptop |------*/
.modalA{
    .product_img{width:80%; margin:0 auto 10px;
        img{width:100%;}
    }
}

tr.disable td{background:$textColor;}
.storage{display: flex; justify-content: space-between;
background: $textColor; padding: 8px; color:$whiteText;}
.modal-footer {display: flex; justify-content: space-between;}

/*-----| Laptop |------*/
.contactForm{padding:10px 10px 0; background:$bgColor2; @include borderRadius(6px);
    margin: 0 0 20px; @include clearfix;
    .form-group{margin-top:1rem;}
}

/*-----| Keyboard  |------*/
.KeybaordWrapper{background: $bgColor2; padding: 20px; box-shadow: 0 0 10px #292929 inset;
    .keyRow {display: flex; flex-wrap: nowrap; padding: 0; margin: 0 auto ;
         li{ padding: 0 0.3% 0.8%; width: 10.7%;
            button{width: 100%;	font-size: 1.7em; font-weight: 700;
                background: $whiteText;  border: 0;  color:$textColor;
                box-shadow: 0 0 6px 1px #fffdfd inset, 1px 3px 3px #8c8c8c;

                &.active{ background: #d2d2d2;  border: 0;  color:$textColor;}
                &:hover, &:focus{text-decoration: none;}
            }          
            
        }
        &.second{width:96%;}
        &.third{width:92%;
            li{width:11.1%; }
        }
        &.fourth{width:98%;
            li{width:11.1%;
                &:first-child img {
                    width: 25px;
                    margin-top: -7px;
                }
                
                &:last-child {
                    button{background:$logoColor;}
                }
            }
        }
        &.fifth{width:90%;
            li{width: 80%;
                &:first-child, &:last-child{width:11%;}
            }
        }
    }
}

/*-----| Modal  |------*/
.modal{
    .modal-header{background-color: $bgColor;
        h5{color:$whiteText}
    }
}


/*-----| NumKey |------*/
.numKey{background:$bgColor2; padding: 10px;
    .keyWrap{
        ul{display: flex; flex-wrap: wrap; margin: 0 auto; padding: 0;
            li{ width:29.333%; margin:0 2% 2%;
                button{width: 100%;}
                &:last-child{width:62%;}
            }
        }
    }
}
   

/*-----| Login  |------*/
.LoginPage{display: flex; justify-content: center; align-items: center; height: calc(100% - 150px);
    .loginWrap{background: $textColor; padding: 15px 20px; @include borderRadius(6px); 
        width: 98%; max-width: 450px;
        label{color:$whiteText}
        span{color:$whiteText; cursor: pointer;}
        h2{font-size: 2rem; color: $whiteText;}
        h3{font-size: 1.5rem; color: $bgColor2;}
        p{font-size: 1.5rem; color: $bgColor2;
            a{color:$bgColor2; text-decoration: underline;}        
        }

    }

}


@media (max-width: $breakpoint-tablet) {
    header{flex-direction: column;}
  
}